<div class="container">
    <div class="center">
      <label>Create Story</label>
      <form>
        <div class="row">
          <input type="text" placeholder="Title" formControlName="title" maxlength="40" />
        </div>
        <div class="row">
          <input type="text" placeholder="Description" formControlName="description" maxlength="40" />
        </div>
        <div class="row">
          <input type="text" placeholder="User" formControlName="user" maxlength="40" />
        </div>
        <div class="row">
          <button class="btn btn-lg btn-dark btn-block" type="submit">
            Create
          </button>
        </div>
      </form>
    </div>
  </div>